.order-line-form form {
    clear: both;
}

.order-line-form form:after {
    content: '';
    display: block;
    clear: both;
}

.widget-form-container.order-line-form .field {
    float: left;
    clear: none;
}

.order-line-form select {
    width: 200px;
}

.order-line-form .field:not(:last-child) {
    margin-right: 10px;
}