.company-info {
    clear: both;
    margin: 10px;
}

.company-info .company-logo {
    float: right;
    /* margin-right: 20px; */
}

.company-info .company-name {
    font-weight: 700;
    margin-bottom: 10px;
}

.company-info .company-phone {
    margin-top: 10px;
}

.company-info .company-iban {
    margin-top: 10px;
}

.client-details {
    float: right;
    margin: 10px;
}

h2.order-title {
  clear: both;
  margin-left: 10px;
}

.order-details {
    clear: both;
    margin: 10px;
    margin-left: 7px;
}

tr td:not(:first-child) {
    text-align: right;
}

tr.subtotal-line td,
tr.total-line td,
tr.total-vat-line td
{
    font-weight: 700;
    padding: 5px;
}

tr.total-line td {
    font-size: 18px;
}