#top .widget h1 {
    color: #ff5a00;
    text-transform: uppercase;
}

#top .widget {
    background: none;
    box-shadow: none;
    border-top: 0px;
    overflow: hidden;
    padding-left: 10px;
    
    
    text-shadow: -1px 1px 1px #000;
    background: #525252;
}