@media print {
    * {
        font-size: 12px;
    }

    body {
	height: auto !important;
	overflow: auto;
    }
    
    #top-bar, #sidebar, #footer {
	display: none;
    }
    
    #page-content {
	height: auto !important;
	overflow: visible;
    }
    
    #page-content #content {
	margin-left: 0px;
	height: auto !important;
	overflow: visible;
    }
    
    #page-content .widget {
	box-shadow: none;
	border: 0px;
    }

    #page-content .print-widget {
	display: none;
    }
    
    #top .widget h1 {
	color: #333;
	display: none;
    }
    
    h3 {
	display: none;
    }
    
    .list {
	margin-top: 0px;
    }
    
    tr.list-head td {
	font-weight: 700;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
    }

    td.action-column {
	display: none;
    }
    
    tr.list-item {
	height: 25px;
    }
    
    tr.list-item td {
	border-bottom: 1px solid black;
	line-height: 
    }

    
    /* -- invoice -- */
    
    
    
    /*
    .invoice-header {
	position: fixed;
	width: 100%;
	top: 0px;
    }
    
    .invoice-lines {
	position: relative;
	top: 300px;
    }
    
    .invoice-footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
    }
    */

    .invoice-footer {
	margin-top: 40px;
    }
}